<div class="container">
      <div class="row text-center" id="header">
              <div class="col-xs-12">
                      <h1>Welcome! Thank You For Joining Us!</h1>
              </div>
      </div>
      <div class="row well well-lg text-center">
              <div class="col-sm-6 col-xs-12">
                      <%= image_tag("shikeeta.jpg", id:"crop") %>
              </div>
              <div class="col-sm-6 col-xs-12 text-center"> 
                      <h3>Find Your Table</h3>
                      <input type="search" />
              </div>
              <div class="col-sm-6 col-xs-12 text-center results">
                      <h3>Your Table Number Is:</h3>
                      <h1 class="table_result">12</h1>
              </div>
      </div>
</div>      
               
