<div class="container">
      <div class="row text-center" id="header">
              <div class="col-xs-12">
                      <h1>Welcome!</h1>
                      <h1>Thank You For Joining Us!</h1>
              </div>
      </div>
      <div class="row well well-lg text-center">
              <div class="col-sm-6 col-xs-12">
                      <%= image_tag("shikeeta.jpg", id:"crop") %>
              </div>
              <div class="col-sm-6 col-xs-12 text-center"> 
                      <h3>Find Your Table</h3>
                      <!-- Typeahead form for guest search -->
                      <form class="special-submit">
                        <div id="bloodhound">
                        <input type='text' id='name-form'  class='form-control typeahead' value='<%= params[:namesearch] %>' name='namesearch' placeholder="Enter Name" autocomplete="off" >
                        <input type='submit' value='Submit' style='display:none' >
                        </div>
                      </form>
              </div>
              <div class="col-sm-6 col-xs-12 text-center results">
                        <%if @guests%>
                        <h3><%= @guests.first.fullname.titleize + "," %></h3>
                        <h3>Your Table Number Is:</h3>
                        <h1 class="table_result"><%= @guests.first.table %></h1>
                        <%end%>
              </div>
      </div>
</div>      
               
